/* ==========================================================================
   Simplified Chinese fallback font
   ========================================================================== */

@font-face {
  font-family: "Apple Site Sans SC";
  src: url("../fonts/apple/apple-sans-zh-hans.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
