---
layout: compress
---

<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}" class="no-js">
  {% assign asset_version = site.github.build_revision %}
  {% assign microdata_type = page.microdata_type | default: 'WebPage' %}
  {% unless asset_version %}
    {% capture asset_version %}{{ site.time | date: '%Y%m%d%H%M%S' }}{% endcapture %}
  {% endunless %}
  <head>
    {% include head.html asset_version=asset_version %}
    {% include head/custom.html asset_version=asset_version %}
  </head>

  <body{% if page.text_direction == "rtl" %} class="page--rtl"{% endif %}>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="https://schema.org/{{ microdata_type }}">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        {% if page.description %}<meta itemprop="description" content="{{ page.description | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text"{% if page.text_direction %} dir="{{ page.text_direction }}"{% endif %}>
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html asset_version=asset_version %}

  </body>
</html>
